<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOS | {{username}} - {{role}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>
<body>
    <main class="container">
        <nav>
            <ul><li><strong><a href="/waiter_home" class="secondary">Waiter: {{username}}</a></strong></li></ul>
            <ul><li><a href="/" class="secondary">Change role</a></li></ul>
        </nav>

        <hr>

        <input type="hidden" id="table_reference" value="{{table_reference}}">

        <section>
            <p><strong>Select the order you want to edit for table {{table_reference}}:</strong></p>
            
            <div id="orders-container">
                <p>Loading orders...</p>
            </div>
        </section>
    </main>

    <script src="{{ url_for('static', path='/js/api/main.js') }}"></script>
    <script src="{{ url_for('static', path='/js/api/order.js') }}"></script>
    <script src="{{ url_for('static', path='/js/order_choose_from_same_table_reference.js') }}"></script>
</body>
</html>